.App {
  text-align: center;
}

.title{
    margin-right: 20px;
    color: inherit;
    font-size: 50px;
    float: left;
}

.title:hover {
    color: inherit;
    text-decoration: none;
}

.search-form{
    margin-right: 20px;
}

nav {
    display:inline-block;
    vertical-align:middle;
}

nav a {
    margin-right: 10px;
}

.cart-main .cart-recommendation{
    display: inline-block;   
}

.cart-main{
    float: left;
    width: 80%; 
    padding: 30px 100px 0 300px;
}

.cart-content {
    padding: 30px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.cart-content.empty {
    padding: 30px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    text-align: center;
}

.cart-content .row {
    margin-top: 10px;
}

.order-info {
    height: 100px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    position: relative;
}

.order-info img, .order-info span {
    display: inline-block;
}

.order-info img {
    height: 100px;
    width: auto;
}

.order-info span {
    margin-left: 20px;
}

.order-info span h3{
    margin: 0;
}

.tools {
    position: absolute;
    right: 5%;
    top: 20%;
}

.qty-price {
    position: absolute;
    right: 2%;
    bottom: 10px;
    font-size: 15px;
}

#totalPrice {
    text-align: center;
    position: relative;
}

#totalPrice h3, #totalPrice button{
    display: inline-block;
}

#totalPrice a {
    position: absolute;
    right: 20px;
    top: 15px;
}

.cart-recommendation {
    float: right;
    width: 20%;
    padding: 10px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.cart-recommendation img, .rec-description {
    display: inline-block;
}

.cart-recommendation img {
    float: left;
    width: 30%;
}
.rec-description {
    float: right;
    width: 70%;
    padding-left: 5px;
    padding-right: 5px;
}

.cart-recommendation .row {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    margin: 20px 0 0 0;
}

