.book-container {
    height: 350px;
    width: 420px;
    display: grid;
    grid-template-columns: 250px 170px;
    grid-template-areas: "img text";
    border: 2px solid black;
    border-radius: 5px;
    margin: 20px;
}

.book-left {
    grid-area: img;
    margin-bottom: 4px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
}

.book-right {
    grid-area: text;
}

.metadata {
    height: 260px;
    font-size: 15px;
    margin-left: 3px;
    padding-right: 8px;
    padding-top: 2px;
    overflow: hidden;
}

.select-btn {
    height: 90px;
    position: relative;
}

.btn .btn-primary {
    position: absolute;
    right: 10px;
    top: 20px;
}