header {
    width: 100%;
    position: fixed;
    top: 0;
    letter-spacing: 1px;
    height: 120px;
    padding: 2em 10%;
    background-color: #052033;
    color:  white;
    z-index: 1;

    display : flex;
    align-items : center;
}

#root {
    padding-top: 120px;
}



